[submodule "nvim/.config/kickstart"]
	path = nvim/.config/kickstart
	url = https://github.com/naftali100/kickstart.nvim.git
[submodule "nvim/.config/kickstart_new"]
	path = nvim/.config/kickstart_new
	url = https://github.com/naftali100/kickstart-new.nvim.git
