[Desktop Entry]
Type=Application
Name=polybar
Exec=sh -c 'killall polybar; polybar 2>&1 | tee -a /tmp/polybar.log'
Icon=taskbar
StartupNotify=false
Terminal=false
NoDisplay=false
